@import "tailwindcss";

@plugin '@tailwindcss/forms';

@theme {
  --color-background: #0c0a09;
  --color-foreground: #f5f4f4;
  --color-muted: #a8a29e;
  --color-muted-2: #44403c;
  --color-muted-3: #1c1917;
  --color-red: #ff0000;
}

@layer components {
  a {
    @apply hover:text-red underline underline-offset-2;
  }
}
